{% load static %}
<html>
    <head>
        <title>Oakville Bubble</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
      <div class="page-header">
          <h1><a href="/">Coming Soon!</a></h1>

      </div>
  <img src="https://gallery.mailchimp.com/6f9bde8f7fc4701759b380c89/images/5b1eec5c-8c19-4e8a-abfe-5a38853503e7.jpg"alt="Image" height="60" width="60">
      <div class="content container">
          <div class="row">
              <div class="col-md-8">
              {% block content %}
              {% endblock %}
              </div>
          </div>
      </div>
  </body>
</html>
